<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">

<head>



    <link rel="stylesheet" th:href="@{/css/multi.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
</head>
<div xmlns:th="http://www.thymeleaf.org" class="container2">
    <nav class="nav2" th:include="/templates/menu">

    </nav>

    <main class="main2">
        <div class="form">
            <div class="form-panel one">

                <div th:include="/templates/components/toast" th:if="${message != null}"
                     th:with="message=${message}"></div>

                <div class="form">
                    <div class="form-panel one">

                        <div>
                            <div>
                                <div class="form-header">
                                    <h1 th:text="#{pages.add_from_template.title}"></h1>
                                </div>

                            </div>
                            <div class="form-content">


                                <form method="POST" th:object="${objectItem}"
                                      th:action="${'/template/add-from-template'}">

                                    <div th:class="'component form-group field_device_id'">
                                        <label th:text="#{pages.add_from_template.device_id}"></label><span class="required">*</span>
                                        <input type="text"
                                               th:field="*{deviceId}">

                                        <input type="hidden"
                                               th:field="*{usbId}">

                                    </div>
                                    <div th:class="'component form-group field_device_name'">
                                        <label th:text="#{pages.add_from_template.device_name}"></label><span class="required">*</span>
                                        <input type="text"
                                               th:field="*{deviceName}">

                                    </div>
                                    <div th:class="'component form-group field_template_id'">
                                        <label th:text="#{pages.add_from_template.template}"></label><span class="required">*</span>
                                        <select
                                               th:field="*{templateId}">
                                            <option th:each="template : ${templates}" th:text="${template.templateName}" th:value="${template.id}"> </option>
                                        </select>
                                    </div>


                                    <div class="form-group">
                                        <button type="submit" class="btn" th:text="#{pages.add_from_template.commit}"></button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>