<head>

</head>

<div class="form-group" xmlns:th="http://www.thymeleaf.org">


  <div class="input-container input_lang">
    <select onchange="changeLang()" id="locales">

      <option class="option_lang_lang" value="en" th:selected="${@localeBean.isSelected('en')}" th:text="#{lang.eng}"></option>
      <option class="option_lang" value="de" th:selected="${@localeBean.isSelected('de')}" th:text="#{lang.de}"></option>
      <option class="option_lang" value="fr" th:selected="${@localeBean.isSelected('fr')}" th:text="#{lang.fr}"></option>
      <option class="option_lang" value="ru" th:selected="${@localeBean.isSelected('ru')}" th:text="#{lang.ru}"></option>
    </select>
  </div>
</div>


