<head>
    <link rel="stylesheet" th:href="@{/css/menu_vertical.css}">
    <link rel="stylesheet" th:href="@{/css/multi.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <title th:text="#{pages.menu.servers.title}">1</title>
</head>



<div xmlns:th="http://www.thymeleaf.org" class="container2">
    <nav class="nav2" th:include="/templates/menu">

    </nav>

    <div class="page_header">
        <div></div>
        <div class="languages" th:include="/templates/language.html"></div>
    </div>

    <main class="main2">
        <div class="target">


            <div id="box"></div>
            <script>


                let table = new MagicList("box");

                table.fetch("servers");
            </script>
        </div>
    </main>
</div>