<head>
    <link rel="stylesheet" th:href="@{/css/menu_vertical.css}">
    <link rel="stylesheet" th:href="@{/css/multi.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <title th:text="#{vertical.menu.device.controller}">1</title>
</head>



<div xmlns:th="http://www.thymeleaf.org" class="container2">
    <nav class="nav2" th:include="/templates/menu">

    </nav>

    <div class="page_header">
        <div></div>
        <div class="languages" th:include="/templates/language.html"></div>
    </div>

    <main class="main2">
        <div class="target">


            <div id="box"></div>
            <script>


                let table = new MagicList("box");

                table.fetch("device");
            </script>

            <script>
                function drawCustomAction(action, id, isRowAction, list){
                    if (action == 'new_operation') {
                        let img = html.input("button");
                        img.classList.add(action);
                        img.value = html.translate("pages.devices.insert_new_operation")
                        img.classList.add("insert_new_operation_btn");



                        img.onclick = function () {
                            new fetcher(list.getForm().id, "/api/v2/device/operation", 'form').new();
                        }

                        return img;

                    }

                    if (action == 'new_operation_device') {
                        let img = html.img("/images/plus_button_operations_grey.png", 16);
                        img.classList.add(action);
                        img.alt = html.translate("pages.devices.insert_new_operation")
                        img.classList.add("insert_new_operation_device_btn");


                        img.onclick = function () {
                            new fetcher(list.getForm().id, "/api/v2/device/operation", 'form').new().preselect('device', id);
                        }

                        return img;

                    }

                    if (action == "operations"){
                        let img = html.img("/images/device_operations_grey.png", 16);
                        img.classList.add("operations");


                        let _this = this;
                        img.onclick = function () {

                            document.location.href='/devices/operations/' + id
                        }

                        return img;

                    }

                    if (action =="virtual"){
                        return html.span("", null);

                    }
                }
            </script>
        </div>
    </main>
</div>