<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">

<head>


    <link rel="stylesheet" th:href="@{/css/menu_vertical.css}">
    <link rel="stylesheet" th:href="@{/css/multi.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <title th:text="#{pages.devices.operations.title}">1</title>
</head>
<div xmlns:th="http://www.thymeleaf.org" class="container2">
    <nav class="nav2" th:include="/templates/menu">

    </nav>

    <div class="page_header">
        <div></div>
        <div class="languages" th:include="/templates/language.html"></div>
    </div>

    <main class="main2">
        <div class="target">
            <div class="form-panel one">

                <div th:include="/templates/components/toast" th:if="${message != null}"
                     th:with="message=${message}"></div>

                <h2 style="margin-bottom: 0; margin-top: 0; display: block!important" class="title"> <span th:text="#{pages.devices.operations.title(${deviceName})}"></span> <a th:href="${'/modbus/devices/' + usbId}" th:text="${usb}"></a> / <a th:href="${'/devices/operations/' + device}" th:text="${deviceName}"></a> </h2>
                <div id="newOp" th:data-id="${device}" class="add_icon add_smthg">

                    <div id="nOpForm" class="hidden"></div>
                </div>

                <script>
                    let img = html.input("button");
                    img.classList.add("new_device_operation");
                    img.value = html.translate("pages.devices.insert_new_operation")
                    img.classList.add("insert_new_device_btn");



                    img.onclick = function () {
                        new fetcher("nOpForm", "/api/v2/device/operation", 'form').new().preselect('device', get("newOp").getAttribute('data-id'));
                    }
                    get('newOp').appendChild(img);
                </script>

                <div>
                    <div th:each="item : ${items}" th:id="${'row_' + item.id}" >
                        <div class="box" th:if="${not item.hasParameter}">
                            <div class="header">
                                <div class="headtext data-row" th:data-id="${item.id}" style="text-align: right">
                                    <span class="cellitem"  th:id="${'executor_result_' +  item.id}"   > </span>

                                </div>
                            </div>
                            <div class="subheader">
                                <div class="red_line"></div>
                                <div class="subheader_text">
                                    <span th:text="${item.name}"></span>

                                </div>
                            </div>

                            <div class="content">

                                <div class="content_img">
                                    <table>

                                        <tr>
                                            <td colspan="2">

                                                <span th:text="${@deviceOperationService.getOperationTypeByName( item.type )}"> </span>
                                                <span th:text="${item.startRead}"> </span>
                                                <span > > </span>
                                                <span th:text="${item.count}"> </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style=""><img class="img" src="/images/formula.png" width="16px" height="16px" align="left"></td>
                                            <td th:text="${item.formula}"> </td>
                                        </tr>

                                    </table>
                                </div>

                            </div>
                            <div class="footer"> <img th:if="${item.hasReverseItems()}" th:data-id="${item.reverseOperation.id}" th:data-type="${item.reverseOperation.type}"
                                                      onclick="executeWriteByType($(this).attr('data-id'), $('#executor_result_' +  $(this).attr('data-id')).html() , $(this).attr('data-type'))" style="cursor: pointer" src="/images/change.png" width="16px" height="16px"></a><a th:href="${'/operations/edit/' + item.id}"> <img src="/images/edit.png" width="16px" height="16px"></a><img src="/images/rm.png" th:data-id="${item.id}" onclick="remove($(this).attr('data-id'), 'operations', $('#row_' +  $(this).attr('data-id')))" width="16px" height="16px"> <span style="float: right"><img th:if="${item.defaultRead}" src="/images/display.png" height="16px" width="16px"> </span> </div>
                        </div>
                    </div>
                </div>

                <div style="clear: both"></div>
                <div class="operations_container">
                    <div th:each="item : ${items}" th:id="${'row_' + item.id}" class="usbdevice">
                        <div class="box operation_container_box" th:if="${item.hasParameter}">
                            <div class="header">
                                <div class="red_line"></div>
                                <div class="headtext">
                                    <span style="color: white"> </span>
                                    <div style="float: right"></div>
                                    <div style="clear:both"></div>
                                </div>

                            </div>
                            <div class="subheader">
                                <div class="red_line"></div>
                                <div class="subheader_text">
                                    <span th:text="${item.name}"></span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="content_img">
                                    <div>
                                        <div style="padding: 5px"> <span th:text="${@deviceOperationService.getOperationTypeByName( item.type )}"> </span> <span th:text="${item.startRead}"> </span>
                                            <span > > </span>
                                            <span th:text="${item.count}"> </span></div>
                                        <span></span>
                                        &nbsp;<span  th:data-id="${item.id}" th:if="${item.hasParameter}" onclick="executeWriteByType($(this).attr('data-id'), null , 'executor_result_' + $(this).attr('data-id'))"><img src="/images/exec.png" width="18px" height="18px"></span>


                                    </div>
                                </div>
                            </div>
                            <div class="footer"><a th:href="${'/operations/edit/' + item.id}">
                                <img src="/images/edit.png" width="16px" height="16px"></a>
                                <img src="/images/rm.png" th:data-id="${item.id}" onclick="remove($(this).attr('data-id'), 'operations')" width="16px" height="16px">
                                <span style="float: right"><img th:if="${item.defaultRead}" src="/images/display.png" height="16px" width="16px"> </span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>
<span th:include="/templates/executor_form.html"></span>
<script>
    $(document).ready(function (){
        $( ".data-row" ).each(function( index ) {
            var th = $(this);
            setInterval(function () {
                execute(th.attr('data-id'), 'executor_result_' + th.attr('data-id'));
            }, 500);
        });
    })
</script>