<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">

<head>



    <link rel="stylesheet" th:href="@{/css/multi.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">

</head>
<div xmlns:th="http://www.thymeleaf.org" class="container2">
    <nav class="nav2" th:include="/templates/menu">

    </nav>

    <main class="main2">
        <div class="">
            <div class="form-panel one">

                <div th:include="/templates/components/toast" th:if="${message != null}"
                     th:with="message=${message}"></div>

                <h2 > <span th:text="#{pages.devices.operations.template.title}"></span> <span th:text="${deviceName}"></span> </h2>
                <a th:href="${'/device_templates_operations/add/' + device}" th:text="#{pages.device.add_operation}"></a>
                <table  class="table"  style="width: 90%">
                    <tr>
                        <th align="left" th:text="#{pages.devices.operations.type}"></th>
                        <th align="left" th:text="#{pages.devices.operations.start.read}"></th>
                        <th align="left" th:text="#{pages.devices.operations.count}"></th>
                        <th align="left" th:text="#{pages.devices.operations.formula}"></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                    </tr>
                    <tr class="row" th:each="item : ${items}" th:data-id="${item.id}" th:id="${'cell_' + item.id}">


                        <td class="cellitem" th:text="${item.type}"></td>
                        <td class="cellitem" th:text="${item.startRead}"></td>
                        <td class="cellitem" th:text="${item.count}"></td>
                        <td class="cellitem" th:text="${item.formula}"></td>
                        <td class="cellitem" width="15px" ><a th:href="${'/device_templates_operations/edit/' + item.id}"> <img src="/images/edit.png" width="24px" height="24px"></a> </td>
                        <td class="cellitem" width="15px" ><img src="/images/rm.png" th:data-id="${item.id}" onclick="remove($(this).attr('data-id'), 'device_template_operations')" width="24px" height="24px"> </td>
                        <td class="cellitem"  th:id="${'executor_result_' +  item.id}"  ></td>
                    </tr>


                </table>
            </div>
        </div>
    </main>
</div>

<script>
    $(document).ready(function (){
        $( ".row" ).each(function( index ) {
            var th = $(this);
            setInterval(function () {
                execute(th.attr('data-id'), 'executor_result_' + th.attr('data-id'));
            }, 500);
        });
    })
</script>