<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="stylesheet" th:href="@{/css/menu_vertical.css}">
    <link rel="stylesheet" th:href="@{/css/multi.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
</head>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">

<head>

    <title th:text="#{pages.main.title.home}">1</title>
    <link rel="stylesheet" th:href="@{/css/multi.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/menu_vertical.css}">
</head>

<style>


</style>

<div xmlns:th="http://www.thymeleaf.org" class="container2">
    <nav class="nav2" th:include="/templates/menu">

    </nav>

    <div class="page_header">
        <div></div>
        <div class="languages" th:include="/templates/language.html"></div>
    </div>

    <main class="main2">
        <div class="target">
            <h2 th:text="#{pages.main.title.home}" class="title" style="margin: 0"></h2>

            <div class="add_icon">
                <div>
                    <input th:value="#{pages.main.usb.add}" class="insert_new_device_btn" type="button">

                    <div class="dropdown_add">
                        <button class="dropbtn_add" th:text="#{pages.main.usb.add.something}"></button>
                        <div class="dropdown-content_add">
                            <a href="#"
                               onclick="new fetcher('rm_add_edit', '/api/v2/device', 'form').createForm().new()"
                               th:text="#{main.device.controller.add}"></a>
                            <a href="#"
                               onclick="new fetcher('rm_add_edit', '/api/v2/device/operation', 'form').createForm().new()"
                               th:text="#{main.device.operations.add}"></a>
                            <a href="#"
                               onclick="new fetcher('rm_add_edit', '/api/v2/devicetype', 'form').createForm().new()"
                               th:text="#{main.device.type.controller.add}"></a>
<!--                            <a href="#"-->
<!--                               onclick="new fetcher('rm_add_edit', '/api/v2/templated', 'form').createForm().new()"-->
<!--                               th:text="#{main.device.templates.add}"></a>-->
                            <a href="#"
                               onclick="new fetcher('rm_add_edit', '/api/v2/servers', 'form').createForm().new()"
                               th:text="#{main.server.controller.add}"></a>
                            <a href="#"
                               onclick="new fetcher('rm_add_edit', '/api/v2/linkapp', 'form').createForm().new()"
                               th:text="#{main.central.connection.add}"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden" id="rm_add_edit">

            </div>
            <div class="block_usb_devices">
                <th:block th:each="item : ${items}">
                    <div class="usbdevice">
                        <div class="usb_device_name">
                            <a th:text="${item.name}" th:href="${'/modbus/devices/' + item.id}"></a>
                        </div>
                        <div class="usb_device_icons">
                            <div><a href="#"><img th:data-id="${item.id}" onclick="new fetcher('rm_add_edit', '/api/v2/usbmodel', 'form').createForm().loadId(this.getAttribute('data-id'))" class="usb_device_edit"
                                                                                src="/images/edit.png"
                                                                                th:alt="#{pages.main.usb.edit}"></a>
                            </div>
                            <div><img th:data-id="${item.id}" class="usb_device_delete" src="/images/rm.png" onclick="remove($(this).attr('data-id'), 'usbmodel', $(this).closest( 'tr' ))" th:alt="#{pages.main.usb.delete}">
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
</div>
</main>
</div>


</html>