<a th:href="@{{path}/{id}(id=${row.get('id') }, path=${@ui.get(action, 'path_device')})}"> <img  width="16px" height="16px" th:alt="#{modbus.devices}" src="/images/devices.png"></a>
<span th:include="/templates/components/custom/edit.html"></span>
<span th:include="/templates/components/custom/delete.html"></span>