<style>
    .btn {
        display: inline; !important;
        width: auto;
        height: 25px;
        /*!* font-size: 1rem;*/
    }
</style>
<div class="modal_container hidden"  id="md_cnt_1">
    <div class="modal">
        <div class="linear_bar">

        </div>
        <div class="header" th:text="#{pages.templates.executor_info_title}"></div>

        <div class="content">
            <div style="padding: 5px; display: inline; float: left"  th:text="#{pages.templates.executor_info_text}"></div>
            <div style="padding: 5px; display: inline; float: right">
                <div class="bool">
                    <label class="switch">
                        <input type="checkbox" id="modal_checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="number">
                    <input name="number" id='number_value'
                           onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                </div>
            </div>
        </div>
        <div class="footer">
            <div style="padding: 15px">
                <input type="button" class="btn" value="OK" id="btn_ok_modal">
                <input type="button" class="btn" onclick="$('#md_cnt_1').addClass('hidden')" value="CANCEL">
            </div>
        </div>
    </div>

</div>