<head>
    <link rel="stylesheet" th:href="@{/css/menu_vertical.css}">
    <link rel="stylesheet" th:href="@{/css/multi.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
</head>


<div class="dropdown22">
    <button class="dropbtn22"></button>
    <div class="dropdown-content22">
        <a href="?lang=ru" class="lang_rus">Русский</a>
        <a href="?lang=en" class="lang_eng">English</a>
    </div>
</div>




