<link rel="stylesheet" th:href="@{/css/toast.css}">
<link rel="stylesheet" th:href="@{/css/menu_vertical.css}">


<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/executor.js}"></script>
<script th:src="@{/js/toast.js}"></script>
<script th:src="@{/js/executor.js}"></script>
<link rel="stylesheet" th:href="@{/css/multi.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{/css/prettydropdowns.css}">
<script src="/js/html.js"></script>
<script src="/js/loading.js"></script>
<script src="/js/jquery.prettydropdowns.js"></script>
<script src="/js/magic.js"></script>
<script src="/js/magic.fields.js"></script>
<script src="/js/magic_list.js"></script>
<script src="/js/magic_view.js"></script>
<script src="/js/const.js"></script>
<script th:src="@{/js/chooser/remote_chooser.js}"></script>
<style>

    .hidden_modal {
        display: none;
    }
    .modal-selector{
        position: fixed;
        left: 600px;
    }



    .modal .header {
        color: #5A91CB;
        background: #000;
        height: 20px;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        font-family: "Times New Roman"

    }

    .modal .content {
        padding: 10px;
        font-family: "Times New Roman";
        font-size: inherit;

    }

    .modal-selector {
        position: fixed;
        margin: auto;
        width:384px;
        z-index: 9999;
        left: 50%;
        top: 50%;
        background: white;
        margin-top: -95px; /* Negative half of height. */
        margin-left: -200px;
        box-shadow: -4px 0 16px rgba(21, 45, 45, 0.08)!important;
    }

    .search_header img{
        position: absolute;
        right: 40px;
        top: 31px;
    }
</style>

<div class="vertical-menu left-side-menu mm-active">
    <div class="home_logo_div">
        <a href="/"><img src="/images/main_home_icon.png" style="width: 32px; height: 32px"></a>
    </div>

    <div style="padding-top: 20px; padding-bottom: 20px; height: 496px; flex-direction: column; display: flex;">
        <div style="margin-top: auto; margin-bottom: auto; width: 100%">
            <div class="dropdown" data-href="/modbus" onmouseout="closeMenu1(get('dd1'))">
                <span class="dropbtn_span">
                    <span class="menu_item">
                        <a href="/modbus"><img
                                onmouseenter="showMenu1( get('dd1'), this.parentElement.parentElement.parentElement)"
                                src="/images/usb_device.png"></a>
                    </span>
                </span>

                <div class="dropdown-content" id="dd1">
                    <div href="/modbus" th:text="#{vertical.menu.usb.controller}"></div>
                </div>
            </div>

            <div class="dropdown" data-href="/modbus" onmouseout="closeMenu1(get('dd011'))">
                <span class="dropbtn_span">
                    <span class="menu_item">
                        <a href="/devices"><img
                                onmouseenter="showMenu1( get('dd011'), this.parentElement.parentElement.parentElement)"
                                src="/images/device_controller.png"></a>
                    </span>
                </span>

                <div class="dropdown-content" id="dd011">
                    <div data-href="/modbus" th:text="#{vertical.menu.device.controller}"></div>
                </div>
            </div>

            <div class="dropdown" onmouseout="closeMenu1(get('dd01111'))">
                <span class="dropbtn_span">
                    <span class="menu_item">
                        <a href="/operations"><img
                                onmouseenter="showMenu1( get('dd01111'), this.parentElement.parentElement.parentElement)"
                                src="/images/device_operations.png"></a>
                    </span>
                </span>

                <div class="dropdown-content" id="dd01111">
                    <div href="/modbus" th:text="#{vertical.menu.device.operations}"></div>
                </div>
            </div>

            <div class="dropdown" onmouseout="closeMenu1(get('dd2'))">
                <span class="dropbtn_span">
                    <span class="menu_item">
                        <a href="/device_type"><img
                                onmouseenter="showMenu1( get('dd2'), this.parentElement.parentElement.parentElement)"
                                src="/images/device_type.png"></a>
                    </span>
                </span>

                <div class="dropdown-content" id="dd2">
                    <div data-href="/modbus" th:text="#{vertical.menu.device.type.controller}"></div>
                </div>
            </div>

<!--            <div class="dropdown" onmouseout="closeMenu1(get('dd3'))">-->
<!--                <span class="dropbtn_span">-->
<!--                    <span class="menu_item">-->
<!--                        <div class="icon templates_icon"></div>-->
<!--                        <a href="/templates"><img-->
<!--                                onmouseenter="showMenu1( get('dd3'), this.parentElement.parentElement.parentElement)"-->
<!--                                src="/images/templates.png"></a>-->
<!--                    </span>-->
<!--                </span>-->

<!--                <div class="dropdown-content" id="dd3">-->
<!--                    <div data-href="/modbus" th:text="#{vertical.menu.device.templates}"></div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="dropdown" onmouseout="closeMenu1(get('dd4'))">
                <span class="dropbtn_span">
                    <span class="menu_item">
                        <a href="/servers"><img onmouseenter="showMenu1( get('dd4'), this.parentElement.parentElement.parentElement)"
                                src="/images/servers.png"></img></a>
                    </span>
                </span>

                <div class="dropdown-content" id="dd4">
                    <div data-href="/modbus" th:text="#{vertical.menu.server.controller}"></div>
                </div>
            </div>

            <div class="dropdown" onmouseout="closeMenu1(get('dd5'))">
                <span class="dropbtn_span">
                    <span class="menu_item">
                        <a  href="/link_app/list"><img onmouseenter="showMenu1( get('dd5'), this.parentElement.parentElement.parentElement)"
                                src="/images/central_connection.png"></img></a>
                    </span>
                </span>

                <div class="dropdown-content" id="dd5">
                    <div data-href="/modbus" th:text="#{vertical.menu.central.connection}"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function changeLang() {
        let langChangeBox = document.getElementById("locales");
        let lang = langChangeBox.options[langChangeBox.selectedIndex].value;
        document.location.href = "?lang=" + lang;

    }

</script>


<script>


    function closeMenu1(obj) {

        obj.style.display = 'none';
    }

    function showMenu1(obj, parent) {
        let bounds = parent.getBoundingClientRect();
        obj.style.position = 'fixed';
        obj.style.left = 108;
        obj.style.top = parseInt(bounds.top);
        obj.style.display = 'block'


    }
</script>

