<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">

<head>



    <link rel="stylesheet" th:href="@{/css/multi.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
</head>
<div xmlns:th="http://www.thymeleaf.org" class="content_container">

    <nav class="nav2" th:include="/templates/menu">

    </nav>

    <main class="main2">
        <div class="form">
            <div class="form-panel one">
                <div th:if="${validationContext != null}"  xmlns:th="http://www.thymeleaf.org">
                    <div th:include="/templates/components/toast-plain"
                         th:each="message : ${validationContext.getValidationMessages()}">
                    </div>
                </div>

                <div th:include="/templates/components/toast" th:if="${message != null}"
                     th:with="message=${message}"></div>

                <div th:include="/templates/components/form/add-edit.form"></div>
            </div>
        </div>
    </main>

</div>