<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">

<head>
    <link rel="stylesheet" th:href="@{/css/multi.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
</head>
<div xmlns:th="http://www.thymeleaf.org" class="container2">
    <nav class="nav2" th:include="/templates/menu">

    </nav>

    <main class="main2">
        <div class="">
            <div class="form-panel one">

                <div th:if="${validationContext != null}"  xmlns:th="http://www.thymeleaf.org">
                    <div th:include="/templates/components/toast-plain"
                         th:each="message : ${validationContext.getValidationMessages()}">
                    </div>
                </div>


                <div th:include="/templates/components/toast" th:if="${message != null}"
                     th:with="message=${message}"></div>

                <h2><span  th:text="#{pages.devices.title}"></span> <a th:href="${'/modbus/devices/' + usbId}" th:text="${usb}"></a> </h2>

                <div class="add_items">
                    <a th:href="${'/devices/add/' + usbId}" th:text="#{pages.modbus.add_device}"></a>
                    <a th:href="${'/virtual/add/' + usbId}" th:text="#{pages.modbus.virtual_device.add}"></a>
                    <a th:href="${'/template/add-from-template/' + usbId}" th:text="#{pages.modbus.add_device_from_template}"></a>
                </div>
              <table  class="table" style="width: 90%">
                    <tr>
                        <th th:text="#{device.type}"></th>
                        <th th:text="#{pages.device.name}"></th>
                        <th th:text="#{pages.device.id}"></th>
                        <th th:text="#{pages.device.default_value}"></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr th:each="item : ${items}" th:id="${'cell_' + item.id}">

                        <td class="cellitem" th:text="${@deviceTypeService.getText(item.deviceType)}"></td>
                        <td class="cellitem" th:text="${item.deviceName}"></td>
                        <td class="cellitem" th:text="${item.deviceId}"></td>
                        <td class="cellitem" th:text="${@execution.findDeviceValue(item.id)}"></td>
                        <td class="cellitem" width="15px"><a th:href="${'/devices/edit/' + item.id}"><img src="/images/edit.png" width="16px" height="16px"></a> </td>
                        <td class="cellitem" width="15px"><a th:href="${'/operations/add/' + item.id}"><img src="/images/add.png" width="16px" height="16px"></a> </td>
                        <td class="cellitem" width="15px" ><img src="/images/rm.png" th:data-id="${item.id}" onclick="remove($(this).attr('data-id'), 'devices')" width="16px" height="16px"> </td>
                        <td class="cellitem" width="15px"><a th:href="${'/devices/operations/' + item.id}"><img src="/images/device.png" width="22px" height="22px"></a></td>
                        <td> <img src="/images/virtual_device.png" width="22px" height="22px" th:if="${item.isVirtual()}" th:alt="${item.path}"></td>
                    </tr>

                </table>
            </div>
        </div>
    </main>


</div>