<head>
    <link rel="stylesheet" th:href="@{/css/menu_vertical.css}">
    <link rel="stylesheet" th:href="@{/css/multi.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <title th:text="#{pages.menu.modbus.list}">1</title>
</head>



<div xmlns:th="http://www.thymeleaf.org" class="container2">
    <nav class="nav2" th:include="/templates/menu">

    </nav>

    <div class="page_header">
        <div></div>
        <div class="languages" th:include="/templates/language.html"></div>
    </div>

    <main class="main2">
        <div class="target">


            <div id="box"></div>
            <script>
                function drawCustomAction(action, id, isRowAction, list) {
                    if (action == 'new_device_form') {
                        let img = html.img("/images/devices.png", 16);
                        img.classList.add("add_device");




                        img.onclick = function () {
                            new fetcher(list.getForm().id, "/api/v2/device", 'form').new().preselect('model', id);
                        }

                        return img;

                    }
                }

                let table = new MagicList("box");

                table.fetch("usbmodel");


            </script>
        </div>
    </main>
</div>