 <head>



    <link rel="stylesheet" th:href="@{/css/multi.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
</head>
<div xmlns:th="http://www.thymeleaf.org" class="container2">
    <nav class="nav2" th:include="/templates/menu">

    </nav>

    <main class="main2">
        <div class="target">


            <div th:if="${isEmpty}" th:text="#{system.dennis.tables.no_records}">

            </div>

            <div th:include="/templates/components/toast" th:if="${message != null && !message.isEmpty()}"></div>

            <div th:with="pagePath='job'" th:include="/templates/components/pagination_table.html"></div>
        </div>
    </main>
</div>