

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.component select{

}

main {
    position: fixed;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    padding: 40px;
}
.container {
    width: 100%;
    height: 100%;
}
.nav {
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    background-color: #111;
}
.box {
    padding: 10px;
    background: red;
    color: #111111;
}
.box_orange {
    padding: 10px;
    background: orange;
    color: #111111;
}





h1 {
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 55px;
    text-align: center;

}
.form-group-small button{
    background-color: #2b2b2b !important;
}
h2 {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.form-header h1{
    color: #2b2b2b !important;
}
.form-group button{
    background-color: #2b2b2b !important;
}

.pagination a .current {
    background-color: #2b2b2b !important;
}
p {
    margin-bottom: 20px;
    line-height: 26px;
}
p::first-letter {
    font-size: 200%;
    font-weight: bold;
}
.li, .ul label.title, .ul, .a {
    width: 100%;
    color: #FFF;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    display: block;
    font-weight: bold;
}
.ul label {
    height: 35px;
}
.ul li{
    height: 35px;
    overflow: hidden;
    transition: all .3s;
}
.li {
    display: block;
    background-color: #363636;
}
label.title {
    font-size: 14px;
    background: linear-gradient(#111, #2f2f2f);
    padding: 10px 15px;
    cursor: pointer;
    transition: all .25s;
}
.a{
    font-size: 12px;
    text-decoration: none;
    color: #FFF;
    display: block;
    padding: 10px 25px;
    transition: all .25s;
}
.a:hover {
    background-color: #444;
    box-shadow: inset 5px 0px 0px 0px #fff;
}
label:hover {
    text-shadow: 0px 0px 10px #fff;
}
input[type="radio"] {
    display: none;
}
#edit:checked + li, #archive:checked + li, #tools:checked + li, #preferences:checked + li {
    height: 179px;
}
i {
    margin-right: 12px;
}

td, th { text-align: left}
@media screen and (max-width: 600px){
    .nav {
        width: 100%;
        position: relative;
    }
    main {
        width: 100%;
        position: relative;
    }
}

.vertical-menu {
    width: 100%; /* Set a width if you like */
    border-left: 1px black solid;
}

.vertical-menu a {
    background-color: #fff; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #000; /* Add a green color to the "active/current" link */
    color: white;
}