@import "https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap";

.main2 {
    display: inline;
    background-color: #fff;
    float: right;
    overflow: auto;
    padding: 30px;
    padding-top: 5px;
    /* border: 1px saddlebrown solid; */
    width: -webkit-calc(100% - 362px);
    width:    -moz-calc(100% - 362px);
    width:         calc(100% - 362px);
    min-height: 100vh;
}

body, html{
    height: 100vh;
    background: #212e42;
}

.container2 {
    width: 100%;
    height: 100%;
}
.vertical-menu{
    width: 100%;
}

.current_page{
    /*filter: invert(1);*/
    font-weight: bold;
}
.add_items{
    padding-bottom: 20px;
}

 a,  a:visited, a:hover{
    /*font-size: 14px;*/
    text-transform: none;
    text-decoration: none;
    color: #5A91CB;
    padding: 5px;
}

.rounded {
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}
.rounded li:hover {background: #E9E4E0; cursor: pointer}
.rounded li:hover:before {transform: rotate(360deg); cursor: pointer}
.rounded li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #000;
    color: #FFF;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.sortable-list {
    min-height: 100px;
    border: 1px solid black;
}
.left {
    float:left;
    display: inline;
    border: #bce8f1 1px solid;
    width: 240px;
}

.right{
    float: right;
    display: inline;
    border: #bce8f1 1px solid;
    width: 240px;
}
.selector {
    width: 500px;
}
.box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 245px;
    height: 185px;
    display: inline-block;
    margin: 10px;
    float: left;
}

.box .header {
    height: 38px;
    background: #212e42;
}

.box .header .red_line {
    height: 5px;
    background: #5A91CB;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.box .header .headtext {
    color: #dee2e6;
    font-weight: bold;
    font-size: 13px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-height: 10px;
    overflow: hidden;
    padding-right: 22px;
}

.box .subheader .subheader_text {
    color: #666666;
    font-weight: normal;
    font-size: 13px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
}
.box .subheader {
    height: 30px;
    background:  #dee2e6;
    font-size: 12px;
    max-height: 30px;
    padding-top: 10px;
    padding-left: 25px;
}
.box .content{
    height:60px;
    padding-left: 25px;
    padding-top: 10px;
    font-size: 14px;
}
.img {
    border-radius: 50%;
    background: beige;
}
.content_img{
    display: inline-block;

}
.footer{
    padding-right: 15px;
    padding-top: 8px;
    border-top: 1px solid #dee2e6;
    text-align: right;
}

 a:hover{
     text-decoration: underline #5A91CB  1px !important;
 }

.form-control {
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #ccc;
}
.component{
    padding-top: 10px;
    padding-bottom: 20px;
}
button{
    background-color: #2f2f2f;
    border-color: #000;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
    padding: 10px;
}
.search_component input, .search_component .component, .search_component select{
    width: auto;
    display: inline;
}

select {
    border-top: none!important;
    border-right: none !important;
    border-left: none !important;
    -webkit-box-shadow: none!important;
    box-shadow: none !important;
}

._div_add_usb{
    width: 100%;
    height: 20px;
}

.form-header h1{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.form-panel label{
    padding-left: 10px;
    padding-right: 2px;
}

a, a:visited{
    text-transform: none;
    text-decoration: none;
    color: #5A91CB!important;
    padding: 5px;
}

.add_icon{
    text-indent: 20px;
    background: url("/images/plus_icon_3.png") no-repeat;
    background-size: 16px 16px;
    background-position-y: 2px;
    width: 100%;
    height: 20px;
}

.main2 a{
    padding: 0;
    line-height: 20px;
}

.add_items a{
    padding-right: 15px;
}

.usbdevice {
    display: inline-block;
    height: 160px;
    width: 130px;
    border: 1px solid #4d4d4d;
    background: url("/images/usb_icon.png") no-repeat;
    background-position-x: 40px;
    background-position-y: 30px;
    font-size: 18px;
    margin: 40px;
    margin-top: 40px;
    margin-bottom: 0;
    border-radius: 4px;
    cursor: pointer;
}

.usbdevice:hover{
    box-shadow: 1px 1px 4px rgb(0 0 0 / 50%);
    border: 1px solid #4d4d4d;
}

.usb_device_name{
    text-align: center;
    padding-top: 88px;
    font-size: 18px;
    height: 40px;
}

.usb_device_icons{
    text-align: center;
    padding-top: 5px;
    font-size: 10px;
    color: #666666;
}

.usb_device_icons div{
    display: inline;
    padding-right: 3px;
}

.usb_device_edit{
    filter: invert(0.7);
}

.usb_device_edit:hover{
    filter: invert(0.2);
}

.usb_device_delete{
    filter: invert(0.7);
}

.usb_device_delete:hover{
    filter: invert(0.2);
}

.table>thead>tr>td {
    vertical-align: text-top;
    alignment: left;
    padding: 10px;
    border-bottom-color: #dee2e6;
}
.table>thead>tr>th, th {
    vertical-align: text-top!important;
    alignment: left !important;
    border-bottom: 1px solid;
    border-bottom-color: #000 !important;
    text-align: left;
    padding: 10px;
    color: #838383;
}
.row{
    padding: 20px;
}
caption{
    text-align: left;
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 40px;
    width: 100%;
}
.table thead td {
    border-bottom: 1px solid #d6dde1;
}

.target table span{
    text-align: center;
}



.cellitem{
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.table thead td {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

input, select {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding-left: 8px;
    padding-right: 5px;
}

.form-group .btn {
    float:right;
}
.nav2 {
    display: inline;
    align-items: flex-start;
    width: 300px;
    min-width: 300px;
    height: 100%;
    background-color: #212e42;
    float: left;
}

.content_container{
    height: 100%;
}

body {
    margin: auto;
    font-family: merriweather sans,sans-serif;
}

.modal {

    width: 400px;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    height: 250px;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.modal .header {
    color: #5A91CB;
    background: #000;
    height: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Times New Roman"

}

.modal .content {
    padding: 10px;
    font-family: "Times New Roman";
    font-size: inherit;

}

.hidden {
    display: none;
}

.modal .footer {
    color: white;

    height: 20px;
    padding: 10px;
    font-size: 18px;
    font-family: "Times New Roman";
    position: absolute;
    text-align: right;
    padding-right: 0px;
    padding-left: 0;
    top: 195px;
    width: 100%;

}

.modal_container {
    position: fixed;
    margin: auto;
    width: 400px;
    z-index: 9999;
    left: 50%;
    top: 50%;
    background: white;
    margin-top: -95px; /* Negative half of height. */
    margin-left: -200px; /* Negative half of width. */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5A91CB;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5A91CB;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.form-content{
    padding-left: 25px;
    width: 50%;
}

.checkbox_with_message{
    display: inline;
    margin: 0;
    padding-left: 0;
    width: 20px;
    height: 20px;
    position: relative;
    top:3px;
    left: 10px;
}

.table tr td {
    padding: 3px;
}

.form button{
    margin-top: 25px;
}

.form-group-small {
    width: 200px;
    position: relative;
    top: 10px;
    left: 445px;
}

.per-page{
    text-align: right;
    padding: 0;
}

.per-page-top{
    text-align: right;
    padding: 5px;
    padding-right: 0;
}

.pagination_top{
    text-align: right;
    padding-bottom: 10px;
}

.per-page_bottom{
    text-align: right;
    padding-right: 0;
    padding-top: 10px;
}

.pagination_bottom{
    text-align: right;
}

.per-page div label{
    padding-right: 5px;
}

.pagination span{
    padding-right: 5px;
}

.form-panel h2 span{
    padding-right: 5px;
}

.target h2 div{
    padding-top: 10px;
    padding-bottom: 10px;
}


.central_connection_edit{
    width: 200px;
    height: 60px;
    background: url("/images/edit_blue_icon.png") no-repeat;
    background-size: 14px 14px;
    background-position-y: 2px;
    color: #212e42!important;
    text-indent: 22px;
    display: inline-block;
}

.span_code{
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 10px;
}

.span_code_1{
    display: block;
    background: url("/images/check_icon.png") no-repeat;
    background-size: 14px 14px;
    background-position-y: 1px;
    background-position-x: 137px;
}

.span_code_2{
    display: block;
    background: url("/images/off_icon.png") no-repeat;
    background-size: 14px 14px;
    background-position-y: 1px;
    background-position-x: 137px;
}

.span_span{
    width: 400px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    margin-left: 150px;
    margin-top: 50px;
}

.span_span:hover{
    cursor: pointer;
    background: #dddddd;
}

.input_lang{
    display: block;
    width: 106px;
    height: calc(1.5em + 0.75rem + 2px);
    margin-top: 6px;
    margin-left: 28px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}

.option_lang{
    background-color: #dddddd;
    background-clip: padding-box;
    border: 1px solid #dddddd;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.add_smthg{
    padding-bottom: 30px;
}

.box img{
    padding-right: 3px;
}

.link_app{
    width: 512px;
    height: 224px;
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 25px;
}

.font_auxiliary{
    font-size: 12px;
    color: #666666;
}

.link_app_header{
    height: 32px;
    padding-right: 16px;
    background: rgb(33,46,66);
    background: linear-gradient(225deg, rgba(33,46,66,1) 0%, rgba(46,64,92,1) 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.link_app_header_right{
    vertical-align: middle;
    float: right;
    height: 24px;
    position: relative;
    top: 3px;
}

.link_app_header_edit_icon{
    background: url("../images/edit_icon.png") no-repeat;
    background-size: 17px 17px;
    background-position-y: 5px;
    background-position-x: 2px;
    float: left;
    display: inline;
    width: 24px;
    height: 24px;
    cursor: pointer;
    filter: invert(0.4);
}

.link_app_header_delete_icon{
    background: url("../images/bin_delete.png") no-repeat;
    background-size: 16px 16px;
    background-position-y: 5px;
    background-position-x: 2px;
    float: right;
    display: inline;
    width: 24px;
    height: 24px;
    cursor: pointer;
    filter: invert(0.4);
}

.link_app_header_icon:hover{
    filter: invert(0.7);
}

.link_app_wrapper{
    padding: 24px 32px;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.link_app_wrapper_block{
    position: relative;
    width: 100%;
}

.link_app_wrapper_up{
    width: 100%;
}

.wrapper_up_line{
    width: 100%;
}

.wrapper_up_line_left{
    float: left;
}

.wrapper_up_line_right{
    float: left;
    display: inline;
}

.wrapper_line_width{
    width: 222px;
}

.wrapper_line_height{
    height: 24px;
}

.wrapper_line_text_indent{
    text-indent: 16px;
}

.link_app_wrapper_bottom{
    width: 100%;
    height: 48px;
}

.link_app_wrapper_bottom_left{
    float: left;
}

.link_app_wrapper_bottom_left_up{
    width: 100%;
}

.link_app_wrapper_bottom_left_bttm{
    width: 100%;
}

.link_app_wrapper_bottom_right{
    width: 100px;
    height: 48px;
    float: right;
    display: inline;
}

.link_app_configuration_name{
    text-indent: 16px;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.link_app_button{
    border-radius: 3px;
    padding: 2px 8px;
    float: right;
    font-size: 12px;
    margin-bottom: 8px;
    border: 1px solid #5A91CB;
    color: #5A91CB;
    cursor: pointer;
}

.link_app_button:hover{
    background-color: #eeeeee;
}

.server_name{
    width: 270px;
    padding-left: 16px;
}

.server_name span{
    display: inline-block;
    width: 120px;
}
.link_app{
    display: inline-block;
}