.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.usbdevice {
    display: inline-block;
    height: 270px;
    width: 200px;
    border: 1px solid gray;
    background: url("/images/usb.png1") no-repeat;
    background-position-x: -25px;
    background-position-y: 5px;
    font-weight: bold;
    font-family: Verdana;
    font-size: 18px;
    margin: 20px;
    border-radius: 10%;
}

.cellitem{
    padding: 5px;
    border-bottom: 1px solid #111111;
}
.rotate {

    transform: rotate(-90deg);


    /* Legacy vendor prefixes that you probably don't need... */

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: relative;
    top:90px;
    width: 200px

}