@font-face {
    font-family: Inter-regular;
    font-style: normal;
    font-weight: 400;
    src: local("Inter"), url("/css/font/Inter/static/Inter-Regular.ttf");
}

body{
    margin: 0;
    font-family: 'Inter-regular', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.container2{
    background-color: #F5F5F7!important;
    width: 100%;
    height: 100%;
}

.nav2{
    height: 100%;
    width: 100px;
    float: left;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    border: 1px solid transparent;
    overflow-x: hidden;
    overflow-y: hidden;
}

.vertical-menu{
    transition: width 0.3s ease;
    padding: 0 12px;
    align-items: center;
    box-sizing: border-box;
    background: #FFFFFF;
    height: 100%;
}

.home_logo_div{
    height: 90px;
    padding: 0 22px;
    align-items: center;
    display: flex;
}


/* Кнопка выпадающего списка */
.dropbtn_span {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    padding: 0.65rem 1rem;
    transition: none;
    outline: none !important;
    justify-content: center;
}

.menu_item{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #FFFFFF;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    border-radius: 8px;
    transform: translate(10px, 10px);
    will-change: transform;
    -webkit-transition: all 0.4s ease-in-out;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content div {
    color: #00b2ff;
    font-weight: 500;
    font-size: 13px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    -webkit-transition: all 0.4s ease-in-out;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown11:hover .dropdown-content {display: block;}



.main2{
    transition: padding-left 0.3s ease;
    padding-left: 100px;
    margin: 0 auto;
    width: auto;
}

.page_header{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: stretch;
    z-index: 2;
    height: 90px;
    transition: left 0.3s ease;
    margin-left: 100px;
    padding: 0 24px;
}

.title,
.connection_title{
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 18px;
    color: #181C32;
}

.connection_title{
    padding: 30px 0;
    background-image: url(/images/c_config_icon.png);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position-y: center;
    background-position-x: 8px;
    text-indent: 4rem;
}

.title{
    position: absolute;
    top: 32px;
    flex-direction: column;
    display: flex;
    align-items: flex-start !important;
    justify-content: center !important;
}

.title a{
    text-decoration: none;
    color: #00B2FF;
    font-size: 19px;
}

.title a:hover{
    color: #0098DA;
}

.target{
    padding: 30px 20px;
}

.table_config{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #FFFFFF;
}

.quick_search{
    padding: 12px 16px;
    text-indent: 2rem;
    background: url(/images/search_loop.png) no-repeat;
    background-size: 24px 24px;
    background-position-x: 1rem;
    align-items: center;
    background-position-y: center;
    border: 1px solid #f9f9f9;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #a1a5b7;
    background-color: #f9f9f9;
    margin-top: 4px;
}

::placeholder {
    color: #a1a5b7;
    opacity: 1;
}

.add_icon{
    display: block;
    padding: 20px 30px;
    height: 48px;
}

.insert_new_btn,
.new_operation,
.insert_new_device_btn{
    float: right;
    border: 0;
    padding: 12px 16px;
    text-indent: 24px;
    color: #FFFFFF;
    background-color: #00b2ff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    background-image: url("/images/plus_button.png");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position-y: 11px;
    background-position-x: 14px;
    margin-left: 48px;
}

.new_operation{
    margin-right: -24px;
    color: #00B2FF;
    background-color: #FFFFFF;
    background-image: url("/images/plus_button_operation.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position-y: 15px;
    background-position-x: 14px;
}

.new_operation:hover{
    color: #FFFFFF;
    background-color: #00b2ff;
    background-image: url("/images/plus_button_operation_white.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position-y: 15px;
    background-position-x: 14px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-property: color, background-color, border-color, box-shadow;
}

.insert_new_btn:hover,
.footer input:hover,
.buttons input:last-child:hover,
.insert_new_device_btn:hover{
    background-color: #0098DA;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-property: color, background-color, border-color, box-shadow;
}

.actions{
    position: relative;
    top: 4px;
}

.actions img{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    display: inline-block;
    cursor: pointer;
}

.hidden{
    display: none;
    background: #FFFFFF;
}


.table{
    width: -webkit-fill-available;
    font-size: 13px;
    display: table;
    margin-left: 38px;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #a1a5b7;
    border-collapse: collapse;
}

.header_text,
.data_header img{
    display: inline-block;
}

.data_header img{
    position: relative;
    float: right;
    margin-right: 4px;
    opacity: 0.4;
}

.data_header img:hover{
    opacity: 1;
}

.data_cell img{
    width: 16px;
    height: 16px;
    vertical-align: center;
}

.action_cell img{
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    padding-left: 32px;
}

.info.error.list.actions{
    cursor: pointer;
}

.header_text{
    float: left;
}

.header_text:hover{
    color: #00b2ff;
}

th:first-child,
td:first-child{
    text-align: left!important;
    max-width: 200px;
    overflow-x: hidden;
}

th{
    padding: 1.25rem 0.75rem;
    padding-right: 0;
    text-transform: uppercase;
}

.th .undefined{
    min-width: 84px;
}

td{
    padding: 1.25rem 0.75rem;
    line-height: 42px;
    color: #7e8299;
}

td:first-child{
    text-overflow: ellipsis;
    color: #3f4254!important;
    font-weight: 600!important;
    font-size: 14px;
    background-image: url("/images/usb_image.png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position-y: center;
    background-position-x: 8px;
    text-indent: 3rem;
}

.data_cell a,
.usb_device_name a{
    text-decoration: none;
    color: #00B2FF;
}

.data_cell a:hover,
.usb_device_name a:hover{
    color: #0098DA;
}

.table_header{
    padding: 0 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #FFFFFF;
}


.magic_list_footer{
    padding: 16px 0;
    background: #FFFFFF;
}

.magic_list_footer label,
.magic_list_footer select{
    display: inline-block;
}

.magic_list_footer label{
    color: #a1a5b7;
    padding: 0 8px;
}

.magic_list_footer select,
.footer_pages input{
    width: auto;
    color: #5e6278;
    line-height: 12px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
}

.magic_list_footer select{
    padding: 6px 24px 6px 8px;
    border-color: #f9f9f9;
}

.footer_pages input{
    border: 1px solid #e1e3ea;
    width: 70px;
    padding: 8px 12px;
    text-align: center;
}

.footer_pages label{
    padding-left: 16px;
}

.modal,
#rm_add_edit,
#nOpForm{
    width: 400px;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    height: 250px;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.form,
.search_and_form,
#rm_add_edit,
#nOpForm{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    z-index: 999;
    height: 100%;
    padding: 0 42px;
    width: 432px;
}

.search_and_form .sort_form,
.column_selector{
    height: auto;
    overflow: hidden;
    color: #3f4254;
    padding-top: 0;
}

.search_and_form{
    overflow: auto;
}

.column_selector{
    padding-top: 42px;
}

.sort_header,
.formTitle,
.form_header h1{
    font-weight: 600;
    line-height: 1.2;
    font-size: 20px;
    height: 90px;
    vertical-align: middle;
    display: table-cell;
    color: #181C32;
}

.sort_content_row,
.header_row{
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem !important;
}

.sort_content_row img{
    width: 24px;
    height: 24px;
}

.sort_field{
    margin-left: 8px;
}

.form img,
.close_inner_form_settings,
.close_inner_form{
    width: 48px;
    height: 48px;
    padding: 0;
    cursor: pointer;
    top: 24px;
    position: fixed;
    right: 490px;
    background: white;
    /* border: 0.1em dashed black; */
    border-radius: 50%;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.form img:hover,
.close_inner_form_settings:hover,
.close_inner_form:hover{
    background-image: url("/images/close_blue.png");
    background-size: 24px 24px;
}

.form_content,
.sort_form{
    height: calc(100% - 76px);
    overflow: scroll;
    width: 432px;
}

.form_content::-webkit-scrollbar,
.search_and_form::-webkit-scrollbar {
    width: 0;
}

.text_label_container,
.text_label,
.field_content span{
    display: inline-block;
    color: #3f4254;
    font-size: 14px;
    font-weight: 500;
}

.field_content span{
    margin-bottom: 16px;
    margin-left: 24px;
}

.field_content span:first-child{
    width: 82px;
}

.field_content span:last-child{
    color: #5e6278;
}

.text_label_container span,
.required_cell{
    color: red;
    padding-left: 2px;
    display: inline-block;
}


.form_content input,
.search_text,
.dd_data select{
    margin-top: 4px;
    margin-bottom: 24px;
    width: 100%;
    padding: 10px 12px;
    color: #5e6278;
    border: 1px solid #e1e3ea;
    border-radius: 4px;
    line-height: 18px;
    font-weight: 500;
    font-size: 14px;
    min-width: 384px;
}

.dd_data select{
    height: 40px;
}

.search_header input{
    margin-top: 0;
}

#device_chooser_req{
    width: 456px;
    min-width: 456px;
}

.search_header img {
    position: absolute;
    right: 34px;
    top: 32px;
    height: 24px;
    width: 24px;
    opacity: 0.6;
    cursor: pointer;
}

.search_header img:hover{
    opacity: 1;
}

.selection{
    padding: 3px;
    display: block;
    text-decoration: underline;
    cursor: pointer;
    color: #a1a5b7;
}

.selection:hover{
    color: #00B2FF;
}

.search_text{
    margin-top: 24px;
    margin-bottom: 0;
}

.search_entity_content{
    padding: 16px;
    padding-left: 8px;
}

input[type=checkbox],
.checkbox_label_container{
    display: inline-block;
    width: 24px;
    height: 24px;
    min-width: 0;
    margin-bottom: 0;
    position: relative;
}

.checkbox_label_container{
    margin-bottom: 24px;
}

.search_header{
    margin-top: 24px;
}

.checkbox_label_container label{
    width: 300px;
    line-height: 24px;
    vertical-align: middle;
}

input[type=checkbox]{
    float: left;
    margin: 0;
    margin-right: 12px;
}

.footer{
    position: inherit;
    display: block;
    bottom: 0;
    background-color: #FFFFFF;
    padding: 24px 0;
    width: 432px;
}

.footer input,
.form_close_btn,
.search_footer{
    float: right;
}

.footer input,
.form_close_btn,
.buttons input{
    padding: 12px 24px;
    border: none;
    color: #FFFFFF;
    background-color: #00b2ff;
    cursor: pointer;
    border-radius: 6px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 12px;
}

.buttons input:first-child,
.footer input:last-child,
.form_close_btn{
    background-color: #FFFFFF;
    color: #7e8299;
}

.buttons input:first-child{
    color: #a1a5b7!important;
}

.buttons input:first-child{
    text-transform: math-auto;
    padding-left: 12px;
    background-image: url(/images/tag_plus.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position-y: 12px;
    background-position-x: 14px;
    text-indent: 24px;
}

.buttons input:last-child{
    float: right;
    margin-top: 24px;
    margin-bottom: 24px;
    text-transform: math-auto;
}

.buttons input{
    margin-left: 0;
    display: block;
}

.form_close_btn{
    margin: 24px 0;
    padding-right: 0;
}

.close_modal{
    margin: 24px 0;
    padding: 12px 24px;
    border: none;
    color: #7e8299;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 6px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.reset{
    padding-top: 32px;
    cursor: pointer;
}

.languages{
    display: inline-flex;
    align-items: center;
}

/* Dropdown Button */
.dropbtn22 {
    width: 50px;
    height: 50px;
    background: url(/images/united-states.png) no-repeat;
    background-size: 40px 38px;
    background-position-y: 5px;
    background-position-x: 5px;
    border-radius: 0.475rem;
    vertical-align: middle;
    box-sizing: border-box;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown22 {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content22 {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: -26px;
    padding: 16px 0!important;
    border-radius: 8px;
}

/* Links inside the dropdown */
.dropdown-content22 a {
    color: #3F4254;
    padding: 12px 28px;
    text-decoration: none;
    display: block;
    width: 140px;
    background-size: 20px 20px;
    background-position-y: center;
    background-position-x: 30px;
    text-indent: 38px;
}

.lang_rus{
    background: url(/images/russia.png) no-repeat;
}

.lang_eng{
    background: url(/images/united-states.png) no-repeat;
}

/* Change color of dropdown links on hover */
.dropdown-content22 a:hover {color: #00B2FF;}

/* Show the dropdown menu on hover */
.dropdown22:hover .dropdown-content22 {display: block;}

.footer_pages{
    float: right;
}

.search_box_container img{
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
    cursor: pointer;
    left: 16px;
}

.chooser a{
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 24px;
    display: block;
    color: #a1a5b7;
    line-height: 18px;
    font-weight: 500;
    font-size: 14px;
}

.chooser a:hover,
.search_remote_container a:hover{
    color: #00B2FF;
}

.search_form,
.search_entity_form,
.modal_view{
    min-width: 480px;
    position: fixed;
    left: 33%;
    overflow-x: hidden;
    background: white;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    padding: 0 24px;
    border-radius: 8px;
    z-index: 300;
    height: auto;
}

.modal_view{
    top: 296px;
}

.search_entity_form{
    top: 140px;

    min-width: 484px;
    padding: 0 24px;
}

.search_form h2{
    margin: 0;
    font-weight: 600;
    line-height: 1.2;
    font-size: 20px;
    height: 84px;
    vertical-align: middle;
    display: table-cell;
    color: #181C32;
}

.search_fields_close,
.__mv_header img{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.search_fields_close:hover,
.__mv_header img:hover{
    background-image: url("/images/close_blue.png");
    background-size: 24px 24px;
}

.view_content .field_content:first-child{
    margin-top: 40px;
}

.view_content .field_content:last-child{
    margin-bottom: 32px;
}

.criteria_element_field,
.criteria_element select{
    margin-right: 16px;
}

.criteria_element_field,
.criteria_element select,
.criteria_element input{
    padding: 10px 12px;
    color: #5e6278;
    border: 1px solid #e1e3ea;
    border-radius: 4px;
    line-height: 18px;
    font-weight: 500;
    font-size: 14px;
}

.criteria_element_field,
.criteria_element select,
.search_type_remote_chooser,
.criteria_element input{
    width: 172px;
}

.criteria_element input{
    padding: 8px 10px;
    margin-right: 16px;
}

.criteria_element{
    margin-bottom: 16px;
}

.search_remote_container a{
    text-decoration: none;
    color: #a1a5b7;
    line-height: 18px;
    font-weight: 500;
    font-size: 14px;
    max-width: 150px;
    margin-right: 8px;
}

.search-type_remote_chooser{
    margin-right: 8px;
}

.criteria_element img{
    vertical-align: middle;
}

.tag_value_container img{
    top: 4px;
    left: 8px;
}

.tag_value_container{
    margin-right: 24px;
    padding: 6px 10px;
    border: 1px solid #e1e3ea;
    border-radius: 3px;
    font-size: 12px;
}

.tag_text{
    color: #a1a5b7;
}

.criteria_element img,
.tag_value_container img{
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.tag_value_container img{
    background: url(/images/tag_delete.png) no-repeat;
    background-size: 12px 12px;
    background-position-y: 0;
    background-position-x: 0;
    background-color: #FFFFFF;
    left: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    top: 5px;
}

.search_form .buttons{
    display: block;
    width: 100%;
}

.tags{
    line-height: 18px;
    height: 30px;
    position: relative;
    left: 20px;
    top: 16px;
    display: block;
}

.block_usb_devices,
.operations_container{
    margin: 0 auto;
    border-radius: 8px;
    background: #FFFFFF;
    margin-right: 30px;
    margin-bottom: 30px;
}

.usbdevice{
    display: block;
    padding: 30px;
    border-bottom: 1px dashed #e1e3ea;
    min-width: 254px;
}

.usbdevice:last-child{
    border-bottom: none;
}

.usb_device_name{
    background-image: url(/images/usb_image.png);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position-y: center;
    background-position-x: 8px;
    text-indent: 4rem;
    min-width: 336px;
}

.usb_device_name a{
    font-weight: 600!important;
    font-size: 14px;
    text-decoration: none;
    max-width: 336px;
    overflow: hidden;
}

.usb_device_icons,
.usb_device_name,
.usb_device_icons div,
.operation_container_box .subheader,
.operation_container_box .content,
.operation_container_box .footer{
    display: inline-flex;
    position: relative;
    vertical-align: middle;
    align-items: center;
}

.operation_container_box .subheader{
    color: #3f4254!important;
    font-weight: 600!important;
    font-size: 14px;
    background-image: url(/images/operation_list.png);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position-y: center;
    background-position-x: 8px;
    text-indent: 4rem;
    line-height: 32px;
    min-width: 336px;
}

.operation_container_box .content{
    color: #7e8299;
}


.operation_container_box .footer{
    padding-top: 0;
    padding-bottom: 0;
}

.content_img span,
.content_img div{
    display: inline-block;
}

.usb_device_name,
.usb_device_icons{
    height: 32px;
}

.usb_device_icons div img{
    width: 16px;
    height: 16px;
    cursor: pointer;
    padding-left: 32px;
    opacity: 0.3;
}

.usb_device_icons div img:hover{
    opacity: 1;
}

/* Dropdown Button */
.dropbtn_add {
    color: #00B2FF;
    padding: 12px 16px;
    padding-right: 0;
    font-size: 15px;
    border: none;
    float: right;
    text-align: center;
    font-weight: 500;
    line-height: 24px;
    vertical-align: middle;
    background-image: url(/images/plus_button_operation.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position-y: 15px;
    background-position-x: 14px;
    text-indent: 24px;
    background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown_add {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content_add {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 48px;
    left: -160px;
    padding: 24px;
    border-radius: 8px;
    background: #FFFFFF;
}

/* Links inside the dropdown */
.dropdown-content_add a {
    color: #3F4254;
    padding: 12px 28px;
    text-decoration: none;
    display: block;
    min-width: max-content;
}

/* Change color of dropdown links on hover */
.dropdown-content_add a:hover {color: #00b2ff;}

/* Show the dropdown menu on hover */
.dropdown_add:hover .dropdown-content_add {display: block;}

.target h2{
    margin-left: 32px!important;
}

.small_block{
    display: inline-block;
    padding-right: 48px;
}

.dark_grey,
.link_app_button{
    color:#3f4254;
}

.light_grey{
    color: #a1a5b7;
}

.data_transfer_on{
    color: #4CAF50;
}