<div xmlns:th="http://www.thymeleaf.org" class="container2">
    <nav class="nav2" th:include="/templates/menu">

    </nav>

    <div class="page_header">
        <div></div>
        <div class="languages" th:include="/templates/language.html"></div>
    </div>

    <div class="main2">
        <div class="target">


            <div th:include="/templates/components/toast" th:if="${message != null && !message.isEmpty()}"></div>
            <div class="box">

                <h2 class="title" style="margin-bottom: 0; margin-top: 0;"><span
                        th:text="#{pages.link_app.title}"></span></h2>

                <div class="add_icon">
                    <div style="float: right; display: inherit">
                        <input class="insert_new_btn" type="button" th:value="#{pages.link_app.add.configuration}"
                               onclick="new fetcher('rm_add_edit', '/api/v2/linkapp', 'form').createForm().new()">
                    </div>
                </div>
                <div id="rm_add_edit" class="hidden">

                </div>

                <div class="block_usb_devices">
                    <div class="connection_block usbdevice" th:each="app : ${items}" style="padding-top: 0">
                        <div class="">
                            <div class="">
                                <a th:href="${'/link_app/edit/' + app.id}">
                                    <div class=""></div>
                                </a>
                                <div class=""></div>
                            </div>
                        </div>

                        <div >
                            <div >

                                <div class="connection_title" style="font-size: 18px!important;"><span th:text="#{pages.link_app.title.line}"></span> <span
                                        th:text="${app.name}"></span></div>

                                <div class="small_block_container" style="padding-left: 12px; font-size: 14px">
                                    <div class="small_block" style="min-width: 438px">
                                        <span th:text="#{pages.link_app.code}" class="dark_grey"></span>
                                        <span th:text="${app.selfCode}" class="light_grey"></span>
                                    </div>

                                    <div class="small_block">
                                        <div th:if="${not app.on}" th:text="#{pages.link_app.turned_off}" class="dark_grey" style="min-width: 190px"></div>
                                        <div th:if="${app.on}" th:text="#{pages.link_app.turned_on}" class="dark_grey data_transfer_on" style="min-width: 190px"></div>
                                    </div>

                                    <div class="small_block">
                                        <div th:if="${not app.active}" th:text="#{pages.link_app.not.active}"
                                             class="dark_grey" style="width: 120px"></div>
                                        <div th:if="${app.active}" th:text="#{pages.link_app.active}"
                                             class="dark_grey data_transfer_on" style="width: 120px"></div>
                                    </div>

                                    <div class="small_block">
                                        <span th:text="#{pages.link_app.central_server}" class="dark_grey"></span>
                                        <span th:text="${@serverService.findById(app.central).get().name}" class="light_grey"></span>
                                    </div>

                                    <div class="small_block">
                                        <span th:text="#{pages.link_app.virtual_server_device}" class="dark_grey"></span>
                                        <span th:text="${@serverService.findById(app.virtual).get().name}" class="light_grey"></span>
                                    </div>

                                    <div style="display: inline-block">
                                        <div class="link_app_button small_block" th:text="#{pages.link_app.set_active}"></div>
                                        <div class="link_app_button small_block" th:text="#{pages.link_app.force_sync}"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>
    </div>