<div th:class="'component hidden field_' + ${field.fieldName}" xmlns:th="http://www.thymeleaf.org">
    <label th:if="${field.showLabel}"  th:text="${field.fieldTranslation}"></label><span class="required" th:if="${field.required}" >*</span>
    <input type="hidden" th:id="${field.fieldName + '_chooser_value'}" th:value="${field.defaultValue}"  th:data-type = "${field.objectChooserType}"  th:field="*{__${field.fieldName}__}">


</div>

<a href=""  th:id="${field.fieldName + '_chooser'}" th:data-value="${field.fieldName + '_chooser_value'}" >  </a>


<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">

    /*<![CDATA[*/
    var id = (/*[[${field.fieldName}]]*/ '_chooser');
    var path = "/api/v1/search/type/";
    /*]]>*/
    document.getElementById(id)

    function showSelection(obj){
        var type = obj.getAttribute('data-type');



        $.ajax({
            type: "GET",
            url: path + type,
            success: function (res) {
               alert (res[0])// $("#" + reader).html(res.result);
            },
            error: function (e) {
                $.toast("Cannot run in a moment" + e.responseText);
            }
        });

    }
</script>