<style>
    @font-face {
        font-family: Inter-regular;
        font-style: normal;
        font-weight: 400;
        src: local("Inter"), url("/css/font/Inter/static/Inter-Regular.ttf");
    }

    body {
        margin: 0;
        font-family: 'Inter-regular', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;

    }

    .form_div {
        padding: 220px 0;
        width: 100%;
        height: 100%;
        background: #F5F5F7!important;
    }

    .form_label {
        display: block;
        text-indent: 2px;
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 500;
        color: #3f4254;
    }

    .form_select {
        display: flex;
        width: 100%;
        align-items: center;
        box-shadow: none;
        height: auto;
        outline: none;
        padding: 12px 48px 12px 16px;
        color: #5e6278;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        border-radius: 8px;
        border: 1px solid #F9F9F9;
        background-color: #FFFFFF;
    }

    .form_select option{
        background-color: #FFFFFF;
    }

    .checkbox_div {
        padding: 12px 22px;
        display: inline-block;
        vertical-align: middle;
        height: 20px;
    }

    .checkbox_div input{
        margin: 0;
        width: 20px;
        height: 20px;
    }

    .checkbox_div label{
        position: relative;
        top: -4px;
        left: 8px;
        color: #3F4254;
        font-size: 13px;
        font-weight: 400;
    }

    .form_submit {
        display: block;
        background-color: #00B2FF;
        border: none;
        padding: 12px 24px;
        box-shadow: none;
        cursor: pointer;
        color: #FFFFFF;
        border-radius: 4px;
        vertical-align: middle;
        margin: 0 auto;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
    }

    .form_submit:hover{
        background-color: #0098DA;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
        transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
        transition-delay: 0s, 0s, 0s, 0s;
        transition-property: color, background-color, border-color, box-shadow;
    }

    .form_wrapper{
        display: inline-block;
        width: 176px;
    }

    .fl_left{
        float: left;
    }

    .fl_right{
        float: right;
    }
</style>

<div class="form_div">
    <form style='margin: 0 auto; background: #FFFFFF; padding: 48px 32px 0 32px; width: 376px; border-top-left-radius: 8px; border-top-right-radius: 8px' method='get' action='times'>
        <div style="display: block; width: 100%; height: 64px; margin-bottom: 24px">
            <div class="form_wrapper fl_left">
                <label class="form_label">Day</label>
                <select class="form_select">
                    <option value="Mon">Mon</option>
                    <option value="Tue">Tue</option>
                    <option value="Wen">Wen</option>
                    <option value="Thu">Thu</option>
                    <option value="Fri">Fri</option>
                    <option value="Sat">Sat</option>
                    <option value="Sun">Sun</option>
                </select>
            </div>

            <div class="form_wrapper fl_right">
                <label class="form_label">Duration</label>
                <select class="form_select">
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
        </div>

        <div style="display: block; width: 100%; height: 64px;">
            <div class="form_wrapper fl_left">
                <label class="form_label">Hour</label>
                <select class="form_select">
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>

            <div class="form_wrapper fl_right">
                <label class="form_label">Min</label>
                <select class="form_select">
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
        </div>

        <div style="clear: both"></div>

    <div style="width: 100%; display: block!important; padding: 20px 0;">
        <div style="text-align: center;">
            <div class="checkbox_div">
                <input type="checkbox" name='R1'>
                <label>R1</label>
            </div>

            <div class="checkbox_div">
                <input type="checkbox" name='R2'>
                <label>R2</label>
            </div>

            <div class="checkbox_div">
                <input type="checkbox" name='R3'>
                <label>R3</label>
            </div>

            <div class="checkbox_div">
                <input type="checkbox" name='R4'>
                <label>R4</label>
            </div>
        </div>

        <div style="text-align: center;">
            <div class="checkbox_div">
                <input type="checkbox" name='R5'>
                <label>R5</label>
            </div>

            <div class="checkbox_div">
                <input type="checkbox" name='R6'>
                <label>R6</label>
            </div>

            <div class="checkbox_div">
                <input type="checkbox" name='R7'>
                <label>R7</label>
            </div>

            <div class="checkbox_div">
                <input type="checkbox" name='R8'>
                <label>R8</label>
            </div>
        </div>
    </div>

        <div style="clear: both"></div>

        <div style="display: block; padding: 24px 0;"><input type='submit' value='Submit' class="form_submit"></div>

        <div style="clear: both"></div>
    </form>

    <div style="margin: 0 auto; width: 440px; display: block; padding-bottom: 32px; text-align: center; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; background: #FFFFFF; color: #7e8299; font-size: 13px; line-height: 18px; font-weight: 400">{message}</div>
</div>